*wcr_adaptive.txt
*wcr_adaptive2.txt
*wcr_adaptive3.txt
*wcr_converged15.txt
*wcr_convergence15.txt
*wcr_overshoot.txt
*wcr2.txt
*wcr2old.txt
*wcr5.txt
*wcr10.txt
*wcr15.txt
*wcr20.txt
*wcr50.txt
*wcr100.txt
*wcr200.txt
*wcr15_02.txt
*wcr15_005.txt
*wcr15_015.txt
*asgd_rec10.txt
*asgd_sqrt.txt
*maj_converged2.txt
*.svg
video/
